In [6]:
import glob
import pandas as pd

def load_results(pattern):
    """
    Reads all files matching `pattern`, expects lines of the form:
      <lang_goal> <avg_success> <avg_step> <avg_success_step> <avg_reward>
    Returns a single DataFrame with one row per line.
    """
    records = []
    for path in glob.glob(pattern):
        with open(path, "r") as f:
            for line in f:
                # split from the right into 5 parts so that lang_goal can contain spaces
                parts = line.strip().rsplit(maxsplit=4)
                if len(parts) != 5:
                    continue  # skip malformed lines
                lang_goal, s_succ, s_step, s_succ_step, s_reward = parts
                avg_success, avg_step, avg_success_step, avg_reward = map(
                    float, [s_succ, s_step, s_succ_step, s_reward]
                )
                records.append({
                    "file": path,
                    "lang_goal": lang_goal,
                    "avg_success": avg_success,
                    "avg_step": avg_step,
                    "avg_success_step": avg_success_step,
                    "avg_reward": avg_reward
                })
    return pd.DataFrame(records)

In [7]:
result_dfs = {}

In [8]:
result_dfs['seen_pretrained_1'] = load_results("../logs/2025-07-09-17-02-46-test-grasp-a2/results/*.txt")
result_dfs['seen_pretrained_1']

,file,lang_goal,avg_success,avg_step,avg_success_step,avg_reward
0,../logs/2025-07-09-17-02-46-test-grasp-a2/resu...,get something to drink,0.733333,3.733333,4.000000,-0.090322
1,../logs/2025-07-09-17-02-46-test-grasp-a2/resu...,get something to hold other things,1.000000,1.066667,1.066667,0.987242
2,../logs/2025-07-09-17-02-46-test-grasp-a2/resu...,I want a round object,0.866667,2.266667,1.384615,0.638242
3,../logs/2025-07-09-17-02-46-test-grasp-a2/resu...,give me the cup,0.933333,2.666667,2.714286,0.635518
4,../logs/2025-07-09-17-02-46-test-grasp-a2/resu...,get something to eat,1.000000,2.466667,2.466667,0.775306
5,../logs/2025-07-09-17-02-46-test-grasp-a2/resu...,give me the thera_med,0.933333,5.066667,4.857143,0.026654
6,../logs/2025-07-09-17-02-46-test-grasp-a2/resu...,I need a cup,0.866667,1.666667,1.692308,0.665337
7,../logs/2025-07-09-17-02-46-test-grasp-a2/resu...,give me the pear,1.000000,1.800000,1.800000,0.814220
8,../logs/2025-07-09-17-02-46-test-grasp-a2/resu...,I need a fruit,0.933333,4.066667,3.785714,0.362626
9,../logs/2025-07-09-17-02-46-test-grasp-a2/resu...,grasp a round object,1.000000,1.000000,1.000000,1.000000

In [9]:
result_dfs['seen_pretrained_1'][['avg_success', 'avg_step']].mean()

avg_success    0.926667
avg_step       2.580000
dtype: float64

In [10]:
result_dfs['unseen_pretrained_1'] = load_results("../logs/2025-07-09-17-49-02-test-grasp-a2-unseen/results/*.txt")
result_dfs['unseen_pretrained_1']

,file,lang_goal,avg_success,avg_step,avg_success_step,avg_reward
0,../logs/2025-07-09-17-49-02-test-grasp-a2-unse...,I need a suger,1.000000,1.333333,1.333333,0.967195
1,../logs/2025-07-09-17-49-02-test-grasp-a2-unse...,give me the suger,0.933333,4.266667,4.000000,0.346384
2,../logs/2025-07-09-17-49-02-test-grasp-a2-unse...,give me the tea box,0.933333,2.600000,2.214286,0.545181
3,../logs/2025-07-09-17-49-02-test-grasp-a2-unse...,I need a container,1.000000,2.000000,2.000000,0.788160
4,../logs/2025-07-09-17-49-02-test-grasp-a2-unse...,get something to clean,0.933333,2.133333,1.714286,0.662628

In [11]:
result_dfs['unseen_pretrained_1'][['avg_success', 'avg_step']].mean()

avg_success    0.960000
avg_step       2.466667
dtype: float64

# My train

In [12]:
result_dfs['seen_mytrained_1'] = load_results("../logs/2025-07-21-11-08-08-test-grasp-a2/results/*.txt")
result_dfs['seen_mytrained_1']

,file,lang_goal,avg_success,avg_step,avg_success_step,avg_reward
0,../logs/2025-07-21-11-08-08-test-grasp-a2/resu...,get something to drink,0.400000,3.800000,3.166667,-0.602179
1,../logs/2025-07-21-11-08-08-test-grasp-a2/resu...,get something to hold other things,0.800000,3.666667,2.583333,0.227926
2,../logs/2025-07-21-11-08-08-test-grasp-a2/resu...,I want a round object,1.000000,1.466667,1.466667,0.905007
3,../logs/2025-07-21-11-08-08-test-grasp-a2/resu...,give me the cup,0.866667,2.733333,2.230769,0.572455
4,../logs/2025-07-21-11-08-08-test-grasp-a2/resu...,get something to eat,1.000000,2.400000,2.400000,0.747388
5,../logs/2025-07-21-11-08-08-test-grasp-a2/resu...,give me the thera_med,0.800000,4.733333,3.916667,-0.003845
6,../logs/2025-07-21-11-08-08-test-grasp-a2/resu...,I need a cup,1.000000,1.066667,1.066667,0.979258
7,../logs/2025-07-21-11-08-08-test-grasp-a2/resu...,give me the pear,1.000000,2.666667,2.666667,0.585692
8,../logs/2025-07-21-11-08-08-test-grasp-a2/resu...,I need a fruit,0.800000,4.666667,3.833333,-0.072960
9,../logs/2025-07-21-11-08-08-test-grasp-a2/resu...,grasp a round object,1.000000,1.000000,1.000000,1.000000

In [13]:
result_dfs['seen_mytrained_1'][['avg_success', 'avg_step']].mean()

avg_success    0.866667
avg_step       2.820000
dtype: float64

In [14]:
result_dfs['unseen_mytrained_1'] = load_results("../logs/2025-07-21-11-59-39-test-grasp-a2-unseen/results/*.txt")
result_dfs['unseen_mytrained_1']

,file,lang_goal,avg_success,avg_step,avg_success_step,avg_reward
0,../logs/2025-07-21-11-59-39-test-grasp-a2-unse...,I need a suger,0.866667,2.333333,1.846154,0.541670
1,../logs/2025-07-21-11-59-39-test-grasp-a2-unse...,give me the suger,1.000000,4.600000,4.600000,0.339774
2,../logs/2025-07-21-11-59-39-test-grasp-a2-unse...,give me the tea box,0.800000,5.666667,5.083333,-0.431294
3,../logs/2025-07-21-11-59-39-test-grasp-a2-unse...,I need a container,1.000000,1.266667,1.266667,0.946751
4,../logs/2025-07-21-11-59-39-test-grasp-a2-unse...,get something to clean,0.866667,2.533333,1.692308,0.351159

In [15]:
result_dfs['unseen_mytrained_1'][['avg_success', 'avg_step']].mean()

avg_success    0.906667
avg_step       3.280000
dtype: float64

In [16]:
result_dfs['seen_mytrained_2'] = load_results("../logs/2025-07-28-13-11-55-test-grasp-a2/results/*.txt")
result_dfs['unseen_mytrained_2'] = load_results("../logs/2025-07-28-15-16-53-test-grasp-a2-unseen/results/*.txt")

In [17]:
result_dfs['seen_mytrained_3'] = load_results("../logs/2025-07-29-12-01-30-test-grasp-a2/results/*.txt")
result_dfs['unseen_mytrained_3'] = load_results("../logs/2025-07-29-13-00-17-test-grasp-a2-unseen/results/*.txt")

# Analyze results

In [18]:
results_df = pd.concat(result_dfs.values(), keys=result_dfs.keys())
results_df.reset_index(level=0, names=['experiment'], inplace=True)
results_df.reset_index(drop=True, inplace=True)

results_df.groupby('experiment', as_index=False)[['avg_success', 'avg_step']].mean().round(2)

            experiment  avg_success  avg_step
0     seen_mytrained_1         0.87      2.82
1     seen_mytrained_2         0.93      2.64
2     seen_mytrained_3         0.87      2.81
3    seen_pretrained_1         0.93      2.58
4   unseen_mytrained_1         0.91      3.28
5   unseen_mytrained_2         0.92      3.17
6   unseen_mytrained_3         0.97      2.56
7  unseen_pretrained_1         0.96      2.47

In [ ]:
result_dfs['unseen_mytrained_2']

In [ ]:
result_dfs['unseen_pretrained_1']

# Tensorlogs

In [ ]:
from tensorboard.backend.event_processing.event_accumulator import EventAccumulator
import matplotlib.pyplot as plt

# Load the tensorboard log file
log_path = "../tensorlogs/2025-07-28_12-08-39_BC_PP/events.out.tfevents.1753697319.2080tix2"

# Create event accumulator
event_acc = EventAccumulator(log_path)
event_acc.Reload()

# Get available scalar tags
scalar_tags = event_acc.Tags()['scalars']
print("Available metrics:", scalar_tags)

In [ ]:
event_acc.Scalars('loss/iteration')

In [ ]:
event_acc.Scalars('loss/epoch')

In [ ]:
# Extract scalar data for each metric
fig, axes = plt.subplots(1, len(scalar_tags), figsize=(15, 5))
if len(scalar_tags) == 1:
    axes = [axes]

for i, tag in enumerate(scalar_tags):
    # Get the scalar events for this tag
    scalar_events = event_acc.Scalars(tag)
    
    # Extract steps and values
    steps = [event.step for event in scalar_events]
    values = [event.value for event in scalar_events]
    
    # Plot
    axes[i].plot(steps, values)
    axes[i].set_title(tag)
    axes[i].set_xlabel('Step')
    axes[i].set_ylabel('Value')
    axes[i].grid(True)

plt.tight_layout()
plt.show()